.loader {
    /*свг и/или анимация*/
    width: 100px;
    height: 100px;
    background-image: url("./spinner.gif");
    background-size: cover; /* или contain, в зависимости от того, как вы хотите, чтобы GIF масштабировался */
    background-repeat: no-repeat;
    background-position: left;
}